h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
h4 {text-align: center;}
h5 {text-align: center;}

h1 {font-size: 250%;}
h2 {font-size: 180%;}
h3 {font-size: 140%;}
h4 {font-size: 200%;}
h5 {font-size: 180%;}

h2 {margin-right: 40%;}
h2 {margin-left: 40%;}
h3 {margin-right: 8%;}
h3 {margin-left: 8%;}

h2 {margin-top: -1%;}
h3 {margin-top: -1%;}
h4 {margin-top: -4%;}

#ima {margin-left: 18%;}
#ima {margin-top: -1%;}
#ima {width: 60%;}
#ima {border-color: black;
    border-style: double;
    border-width: 12px;}

.part1 {background-color: rgb(100,100,100);}
.part2 {background-color: rgb(255,255,255);}
.part3 {background-color: rgb(214, 214, 214);}
.part4 {background-color: rgb(214, 214, 214);}

h2 {border-color: black;
    border-style: double;
    border-width: 5px;}

h5 {border-color: black;
    border-style: double;
    border-width: 5px;}